h1, h2, h3 {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3.5rem;
}

section {
  position: relative;
  max-width: 100%;
  min-height: 50rem;
  height: auto;
  overflow: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 100;
}

img {
  max-width: 25rem;
}

#header {
  background-image: url(../static/header.jpg);
  color: rgba(0, 0, 0, 0.9);
  height: 100%;
}

.container {
  width: 85%;
}

.blue {
  background: rgba(19, 41, 75, 1) !important;
  color: rgba(255, 255, 255, 0.9);
}

.pink {
  background: rgba(247, 202, 201, 1) !important;
  background: -webkit-linear-gradient(rgba(247, 202, 201, 0.9), rgba(247, 202, 201, 0), rgba(247, 202, 201, 0), rgba(247, 202, 201, 0.9)) !important;
  background: -o-linear-gradient(rgba(247, 202, 201, 0.9), rgba(247, 202, 201, 0), rgba(247, 202, 201, 0), rgba(247, 202, 201, 0.9)) !important;
  background: -moz-linear-gradient(rgba(247, 202, 201, 0.9), rgba(247, 202, 201, 0), rgba(247, 202, 201, 0), rgba(247, 202, 201, 0.9)) !important;
  background: linear-gradient(rgba(rgba(247, 202, 201, 0.9), rgba(247, 202, 201, 0), rgba(247, 202, 201, 0), rgba(247, 202, 201, 0.9)) !important;
  color: rgba(0, 0, 0, 0.9);
}

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2.5rem;
    }
}
