body:before {
  content: url('../static/header.jpg');
  font-weight: 300;
  overflow: hidden;
  overflow-y: scroll;
  background-color: rgba(247, 233, 232, 0.9);
}

h1, h2, h3 {
  font-weight: 100;
  font-style: italic;
}

h1 {
  font-family: 'lato', sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
}

hr {
  border-color: rgba(247, 202, 201, 0.5);
}

section {
  position: relative;
  max-width: 100%;
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 95;
}

.section {
  padding-left: 20px;
  padding-right: 20px;
}

.blue {
  background: rgba(19, 41, 75, 1) !important;
  color: rgba(255, 255, 255, 0.9);
}

.font-blue {
  color: rgba(19, 41, 75, 0.9);
}

.font-pink {
  color: rgba(247, 202, 201, 0.9);
}

.carousel {
  min-height: 750px;
  max-height: 750px;
}

.carousel .indicators {
  position: relative;
}

.carousel .carousel-item img {
  object-fit: cover;
  height: 750px;
  width: 100%;
}

.modal {
  background-color: rgba(247, 233, 232, 1);
}

.modal .modal-footer {
  background-color: rgba(247, 233, 232, 1);
}

.modal .modal-footer > a {
  margin-right: 10px !important;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(248, 235, 234, 1);
}

#header {
  background-image: url('../static/header.jpg');
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: rgba(255, 255, 255, 0.9);
  height: 50%;
  letter-spacing: 1rem;
}

#venue {
  height: 50%;
}

#footer {
  min-height: 5rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  section .section {
    padding-top: 1rem;
  }

  .carousel {
    min-height: 400px;
    max-height: 400px;
  }

  .carousel .carousel-item img {
    height: 400px;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  #header {
    letter-spacing: 0.5rem;
  }

  .carousel {
    min-height: 200px;
    max-height: 200px;
  }

  .carousel .indicators .indicator-item {
    height: 6px;
    width: 6px;
  }
}
