body {
  background-color: rgba(76, 78, 81, 1);
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 1.25rem;
  overflow: hidden;
  overflow-y: scroll;

}

main {
  background: rgba(248, 235, 234, 1);
  margin-left: auto;
  margin-right: auto;
  max-width: 1680px;
}

h1, h2, h3 {
  font-weight: 200;
}

h1 {
  font-family: 'Merriweather', sans-serif;
  font-size: 3rem;
  letter-spacing: 1rem;
}

h2 {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
}

hr {
  border-color: rgba(247, 202, 201, 0.5);
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  width: 60%;
}

.blue {
  background: rgba(145, 168, 208, 1) !important;
}

.pink {
  background: rgba(248, 235, 234, 1) !important;
}

.font-blue {
  color: rgba(19, 41, 75, 0.9);
}

.font-pink {
  color: rgba(247, 202, 201, 0.9);
}

.heading {
  font-family: 'lato', sans-serif;
  font-weight: bold;
  padding-bottom: 2.5rem;
  text-align: center;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.thumb {
  border-radius: 50%;
  max-width: 50%;
}

#preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(248, 235, 234, 1);
}

#details {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

#header {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-image: url('../static/header-min.jpg');
  background-attachment: fixed;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 0.9);
  height: 100%;
  letter-spacing: 1rem;
}

#header .section {
  padding-top: 20%;
}

#quote .row {
  max-width: 90%;
  padding-top: 2rem;
}

#quote .left {
  padding-left: 1rem;
}

#venue {
  padding-top: 30%;
}

#registry {
  min-height: 50%;
  padding-top: 10rem;
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .thumb {
    max-width: 100%;
  }

  .row .col {
    padding: 0;
  }
}

@media only screen and (max-width: 450px) {
  body {
    font-size: .75rem;
  }

  h1 {
    font-size: 1.4rem;
    letter-spacing: 0.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  #header {
    letter-spacing: 0.5rem;
  }

  #header .section {
    padding-top: 50%;
  }

  .thumb {
    max-width: 100%;
  }
}
