html(lang = 'en')
  head
    meta(name = 'og:title', content = 'Gian &amp; Yssa&#039;s Wedding')
    meta(name = 'og:site_name', content = 'Gian &amp; Yssa&#039;s Wedding')
    meta(name = 'og:url', content = 'https://gnywedding2019.herokuapp.com')
    meta(name = 'og:image', content = 'https://gnywedding2019.herokuapp.com/static/og.jpg')
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
    
    title Gian &amp; Yssa's Wedding
    
    link(type = 'text/css', rel = 'stylesheet', href='https://fonts.googleapis.com/css?family=Lato|Raleway')
    link(type = 'text/css', rel = 'stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(type = 'text/css', rel = 'stylesheet', href = 'css/materialize.min.css')
    link(type = 'text/css', rel = 'stylesheet', href = 'css/index2.css')
      
  body    
    #background
        img.hide(src='static/og.jpg')
    #main
      #header.section
        .container.center
          h1 GIAN &amp; YSSA
          h3 are getting married
          p.flow-text.center Mithi Resort &amp; Spa
          p.flow-text.center January 11, 2019
          
    script(src = 'js/jquery.min.js')
    script(src = 'js/materialize.js')
