html(lang = 'en')
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
      
    title Gian &amp; Yssa's Wedding
    
    link(type = 'text/css', rel = 'stylesheet', href = 'css/font-awesome.min.css')
    link(type = 'text/css', rel = 'stylesheet', href = 'css/materialize.min.css')
    link(type = 'text/css', rel = 'stylesheet', href = 'css/index.css')
      
  body
    #index-banner.parallax-container
      .section.no-pad-bot
        .container
          h1.header.center.text-lighten-2 GnY Wedding
          .row.center
            a.btn-large.waves-effect.waves-light.blue RSVP Now
      .parallax
        img(src = 'static/mithi1.jpg', alt = 'Banner Image')
    
    .container
      .section
        .row
          .col.s12.m6
            .icon-block
              h2.center.brown-text
                i.fa.fa-male 
              h5.center The Groom
              p.light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum tellus tincidunt erat molestie eleifend. Ut rutrum justo eu posuere elementum. Maecenas tempor viverra faucibus.
          .col.s12.m6
            .icon-block
              h2.center.brown-text
                i.fa.fa-female 
              h5.center The Bride
              p.light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum tellus tincidunt erat molestie eleifend. Ut rutrum justo eu posuere elementum. Maecenas tempor viverra faucibus.
    
    .parallax-container.valign-wrapper
      .section.no-pad-bot
        .container
          .row.center
            h5.header.col.s12.light Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum tellus tincidunt erat molestie eleifend. Ut rutrum justo eu posuere elementum. Maecenas tempor viverra faucibus.
      .parallax
        img(src = 'static/mithi2.jpg', alt = 'Banner Image')
          
    script(src = 'js/jquery.min.js')
    script(src = 'js/materialize.js')
    script(src = 'js/index.js')
