html.no-js
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="Wedding website for Gian and Yssa")
    meta(name="keywords" content="wedding gnywedding2019")
    meta(name = 'og:title', content = 'Gian &amp; Yssa&#039;s Wedding')
    meta(name = 'og:site_name', content = 'Gian &amp; Yssa&#039;s Wedding')
    meta(name = 'og:url', content = 'https://gnywedding2019.herokuapp.com')
    meta(name = 'og:image', content = 'https://gnywedding2019.herokuapp.com/static/og-min.jpg')
      
    title Gian &amp; Yssa's Wedding
    
    //link(rel="shortcut icon" href="favicon.ico")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet")
    
    link(rel="stylesheet" href="css/animate.css")
    
    link(rel="stylesheet" href="css/icomoon.css")
    link(rel="stylesheet" href="css/simple-line-icons.css")
    
    link(rel="stylesheet" href="css/owl.carousel.min.css")
    link(rel="stylesheet" href="css/owl.theme.default.min.css")
    
    link(rel="stylesheet" href="css/magnific-popup.css")
    
    link(rel="stylesheet" href="css/bootstrap.css")
    link(rel="stylesheet" href="css/style.css")
    
    script(src="js/modernizr-2.6.2.min.js")
      
  body
    img.hide(src="static/og-min.jpg")
    header#qbootstrap-header(role="banner")
      .container
        nav.navbar.navbar-default
          .navbar-header
            a.js-qbootstrap-nav-toggle.qbootstrap-nav-toggle(href="#" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
              i
            a.navbar-brand(href="index.html") 
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li.active
                a(href="#" data-nav-section="home")
                  span Home
              li
                a(href="#" data-nav-section="groom-bride")
                  span Celebrants
              li
                a(href="#" data-nav-section="greetings")
                  span Greetings
              li
                a(href="#" data-nav-section="entourage")
                  span Entourage
              li
                a(href="#" data-nav-section="venue")
                  span Schedule
              li
                a(href="#" data-nav-section="rsvp")
                  span RSVP
    .qbootstrap-hero(data-section="home")
      .qbootstrap-overlay
      .qbootstrap-cover.text-center(data-stellar-background-ratio="0.5" style="background-image: url(static/header-min.jpg);")
        .display-t
          .display-tc
            .container
              .col-md-10.col-md-offset-1
                .animate-box.svg-sm.colored
                  h2 Gian &amp; Yssa
                  h1.holder
                    span are getting married
                  p Bohol, Philippines
                    br
                    | 2019.01.11
    #qbootstrap-couple.qbootstrap-section-gray
      .container
        .row.animate-box
          .col-md-8.col-md-offset-2.animate-box
            .col-md-12.text-center.section-heading.svg-sm.colored
              img.svg(src="static/flaticon/svg/005-two.svg")
              h2 Fall for Bohol
              p As a young couple, we always find ourselves in love and involved with each other. Through the years, we travelled to various places and got to know more of ourselves each day.
              p Fall in love with Bohol as we celebrate the most important milestone of our 9 year relationship.
        //.row.animate-box
          .col-md-8.col-md-offset-2.text-center
            .col-md-5.col-sm-5.col-xs-5.nopadding
              //img.img-responsive(src="images/groom.jpg")
              h3 Gian
              h4 Giancarlo Niccolo P. Pera
              span Groom
            .col-md-2.col-sm-2.col-xs-2.nopadding
              h2.amp-center
                img.svg.img-responsive(src="static/flaticon/svg/003-luxury.svg")
            .col-md-5.col-sm-5.col-xs-5.nopadding
              //img.img-responsive(src="images/bride.jpg")
              h3 Yssa
              h4 Alyssa A. Denaya
              span Bride
    #qbootstrap-countdown(data-stellar-background-ratio="0.5" style="background-image: url(static/og-min.jpg);" data-section="wedding-day")
      .overlay
      .display-over
        .container
          .row.animate-box
            .col-md-12.section-heading.text-center.svg-sm.colored
              img.svg(src="static/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg")
              h2 The Wedding Day
              span.datewed Friday, 11th of January, 2019
          .row.animate-box
            .col-md-10.col-md-offset-1.text-center
              p.countdown
                span#days
                span#hours
                span#minutes
                span#seconds
    #qbootstrap-groom-bride(data-section="groom-bride")
      .container
        .row.animate-box
          .col-md-8.col-md-offset-2
            .col-md-12.text-center.section-heading.svg-sm-2.colored
              img.svg(src="static/flaticon/svg/002-wedding-couple.svg")
              h2 Groom &amp; Bride
        .row
          .col-md-6
            .couple.groom.text-center.animate-box
              img.img-responsive(src="static/thumb-min.jpg")
              .desc
                h2 Giancarlo Niccolo P. Pera
                p Nic is the perfect example of my dream guy and he never ceases to make me laugh through ups and downs. He accepts every little flaw I have and uplifts my spirit every time. It has been a nine-year roller coaster ride and I want to spend the rest of the ride holding his hands.
                ul.social.social-circle
                  li
                    a(href="https://www.facebook.com/gian.pera" target="_blank")
                      i.icon-facebook
                  li
                    a(href="https://www.instagram.com/gian.pera" target="_blank")
                      i.icon-instagram
          .col-md-6
            .couple.bride.text-center.animate-box
              img.img-responsive(src="static/thumb-min.jpg")
              .desc
                h2 Alyssa A. Denaya
                p My life couldn't have been this colorful without Yssa and I could never imagine life without her. She was always the adventurous type and ever since college, she never wanted to have a dull moment. From joining her school's theater club to immersing herself with the indiginous people in northern luzon, she was always hungry to discover what the world has to offer. 9 years of being dragged by her adventures, I'm very grateful to have experienced this journey with her and I'm truly honored to be her future husband.
                ul.social.social-circle
                  li
                    a(href="https://www.facebook.com/IsangYssa" target="_blank")
                      i.icon-facebook
                  li
                    a(href="https://www.instagram.com/isangyssa" target="_blank")
                      i.icon-instagram
    #qbootstrap-testimonials.qbootstrap-greetings(data-section="greetings" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);")
      .overlay
      .container
        .row.animate-box
          .col-md-12.section-heading.text-center.svg-sm.colored
            img.svg(src="static/flaticon/svg/006-flower-bell-outline-design-variant-with-vines-and-leaves.svg")
            h2 Sweet Messages
        .row
          .col-md-4.animate-box
            .box-testimony
              blockquote
                span.quote
                  span
                    i.icon-quote-left
                p
                  | “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
              p.author John Doe
          .col-md-4.animate-box
            .box-testimony
              blockquote
                span.quote
                  span
                    i.icon-quote-left
                p
                  | “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.”
              p.author John Doe
          .col-md-4.animate-box
            .box-testimony
              blockquote
                span.quote
                  span
                    i.icon-quote-left
                p
                  | “Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.”
              p.author John Doe
    #qbootstrap-entourage(data-section="entourage")
      .container
        .row.animate-box
          .col-md-8.col-md-offset-2
            .col-md-12.text-center.section-heading.svg-sm.colored
              img.svg(src="static/flaticon/svg/005-two.svg")
              h2 The Groomsmen
        .row.row-bottom-padded-lg
          .col-md-3.text-center.animate-box
            .groom-men
              img.img-responsive(src="static/gm-filler.jpg")
              h3 Eugene Cabrera
          .col-md-3.text-center.animate-box
            .groom-men
              img.img-responsive(src="static/gm-filler.jpg")
              h3 Gabrielle Bautista
          .col-md-3.text-center.animate-box
            .groom-men
              img.img-responsive(src="static/gm-filler.jpg")
              h3 Carlo Poblete
          .col-md-3.text-center.animate-box
            .groom-men
              img.img-responsive(src="static/gm-filler.jpg")
              h3 Anthony Panlaqui
        .row.animate-box
          .col-md-8.col-md-offset-2
            .col-md-12.text-center.section-heading.svg-sm.colored
              img.svg(src="static/flaticon/svg/005-two.svg")
              h2 The Bridesmaid
        .row
          .col-md-3.text-center.animate-box
            .groom-men
              img.img-responsive(src="static/bm-filler.jpg")
              h3 Lea Adriano
          .col-md-3.text-center.animate-box
            .groom-men
              img.img-responsive(src="static/bm-filler.jpg")
              h3 Jessica Eleazar
          .col-md-3.text-center.animate-box
            .groom-men
              img.img-responsive(src="static/bm-filler.jpg")
              h3 Luisa Ordoño
          .col-md-3.text-center.animate-box
            .groom-men
              img.img-responsive(src="static/bm-filler.jpg")
              h3 Nivea Nera
    #qbootstrap-venue(data-section="venue")
      .container
        .row.animate-box
          .col-md-8.col-md-offset-2
            .col-md-12.text-center.section-heading.svg-sm.colored
              img.svg(src="static/flaticon/svg/005-two.svg")
              h2 Schedule
        .row.row-bottom-padded-md
          .col-md-10.col-md-offset-1.text-center.animate-box
            .wedding-events
              .ceremony-bg(style="background-image: url(static/venue-min.jpg);")
              .desc
                h3 Wedding Ceremony
                .row
                  .col-md-2.col-md-push-5
                    .icon-tip
                      span.icon
                        i.icon-heart-o
                  .col-md-5.col-md-pull-1
                    .date
                      i.icon-calendar
                      span Friday
                      span 11th of January, 2019
                  .col-md-5.col-md-pull-1
                    .date
                      i.icon-clock2
                      span 04:00 PM
                      span 08:00 PM
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis massa ut vehicula eleifend. Mauris ac neque ante. In euismod ultrices elit, vel rhoncus est varius quis. Mauris ornare dignissim nunc ut varius. Vivamus luctus orci arcu, posuere mollis dolor pretium ut. Integer consectetur lorem at tempor imperdiet. Curabitur interdum semper ligula quis lacinia.
                p
                  a.btn.btn-primary.btn-sm(href="http://www.mithiresort.com", target="_blank") Learn more
        .row
          .col-md-12
            #map.qbootstrap-map
    #qbootstrap-started.qbootstrap-bg(data-section="rsvp" data-stellar-background-ratio="0.5" style="background-image: url(images/cover_bg_1.jpg);")
      .overlay
      .container
        .row.animate-box
          .col-md-8.col-md-offset-2
            .col-md-12.text-center.section-heading.svg-sm.colored
              img.svg(src="static/flaticon/svg/005-two.svg")
              h2 You Are Invited
              .row
                .col-md-10.col-md-offset-1.subtext
                  h3
                    | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .row.animate-box
          .col-md-10.col-md-offset-1
            form.form-inline
              .col-md-4.col-sm-4
                .form-group
                  label.sr-only(for="name") Name
                  input#name.form-control(type="name" placeholder="Name")
              .col-md-4.col-sm-4
                .form-group
                  label.sr-only(for="email") Email
                  input#email.form-control(type="email" placeholder="Email")
              .col-md-4.col-sm-4
                button.btn.btn-default.btn-block(type="submit") I am Attending
    
    script(src="js/jquery.min.js")
    script(src="js/jquery.easing.1.3.js")
    
    script(src="js/bootstrap.min.js")
    
    script(src="js/jquery.waypoints.min.js")
    
    script(src="js/jquery.mb.YTPlayer.min.js")
    
    script(src="js/jquery.flexslider-min.js")
    
    script(src="js/owl.carousel.min.js")
    
    script(src="js/jquery.stellar.min.js")
    
    script(src="js/jquery.magnific-popup.min.js")
    script(src="js/magnific-popup-options.js")
    
    script(src="js/main.js")
