html(lang = 'en')
  head
    meta(name='google-site-verification', content='mX-l1k26TRG0TrPxHsyh7QENv0PFYSHkUObD99tCSYs')
    meta(name = 'og:title', content = 'Gian &amp; Yssa&#039;s Wedding')
    meta(name = 'og:site_name', content = 'Gian &amp; Yssa&#039;s Wedding')
    meta(name = 'og:url', content = 'https://gnywedding2019.herokuapp.com')
    meta(name = 'og:image', content = 'https://gnywedding2019.herokuapp.com/static/og.jpg')
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
    
    title Gian &amp; Yssa's Wedding
    
    link(type = 'text/css', rel = 'stylesheet', href='https://fonts.googleapis.com/css?family=Lato|Raleway')
    link(type = 'text/css', rel = 'stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(type = 'text/css', rel = 'stylesheet', href = 'css/materialize.min.css')
    link(type = 'text/css', rel = 'stylesheet', href = 'css/index2.css')
      
    script(type = 'text/javascript', src = 'js/jquery.min.js')
    script(type = 'text/javascript', src = 'js/materialize.js')
    script(type = 'text/javascript', src = 'https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDqPw4fG0ksLZNU26TvubY6u4B-5dKUJio')
    script(type = 'text/javascript', src = 'js/gmap3.min.js')
    script(type = 'text/javascript', src = 'js/index.js')
    
  body
    img.hide(src='static/og.jpg')
    section#header
      .overlay
        .container.section.center
          h1 GIAN &amp; YSSA
          h3 are getting married
        
    section#quote
      .section
        .row
          .col.s12
            h2.center Isa kang parrot
        .row
          .col.s2.offset-s5
            hr
        
    section#venue
      .section
        .row
          .col.s12.m6
            p.center We'll be celebrating our wedding at 
              b Mithi Resort &amp; Spa
              | &nbsp;in Dauis, Bohol. 
          .col.s12.m6
            .map
        .row
          .col.s2.offset-s5
            hr
            
    section#registry.center
      .section
        .row
          .col.s12
            h2.center REGISTRY
        .row
          .col.s10.offset-s1
            p.center We would prefer your presence, not your presents. But if you would like to give us gifts, then we'd highly appreciate monetary contributions to help us prepare for the future.  
        .row
          .col.s10.offset-s1
            p.center You may come in your formal beach attire.
        .row
          .col.s10.offset-s1.center.hide-on-small-only
              i.large.material-icons.font-blue flight
              i.large.material-icons.font-pink wb_sunny
              i.large.material-icons.font-blue map
              i.large.material-icons.font-pink wc
          .col.s10.offset-s1.center.hide-on-med-and-up
              i.large.material-icons.font-blue flight
              i.large.material-icons.font-pink wb_sunny
          .col.s10.offset-s1.center.hide-on-med-and-up
              i.large.material-icons.font-pink map
              i.large.material-icons.font-blue wc
    section#footer
          
    footer
      .section.center
        a.btn-large.waves-effect.waves-light.blue.modal-trigger(href='#rsvp')
          b RSVP Now
    
    include rsvp.pug
